#main-container {
    position: relative;
}

#quote-div {
    /* Center vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#refresh-button {
    /* positioning */
    position: absolute;
    top: 75%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-75%);
    -webkit-transform: translateX(-50%) translateY(-75%);
    transform: translateX(-50%) translateY(-75%);
}